
# Ignore massive files
data/**
synthesisers/*.npy
synthesisers/*.npz
**.hdf5

# Python specific
**/__pycache__/
**/.py[cod]
**/.ipynb_checkpoints

# Spyder project settings (untested as I don't use)
.spyderproject
.spyproject